{% block sidebar %}

    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right">
        <div class="card my-4">
                <h5 class="card-header">About this blog</h5>
            <div class="card-body">
                <p class="card-text">This site and the accompanying blog is made on top of Django, a full-stack Python web framework. I started out by following a <a href="https://djangocentral.com/building-a-blog-application-with-django">tutorial</a> then continued to extend its functionality.</p>
            </div>
        </div>
    </div>

{% endblock sidebar %}
